In [1]:
import pandas as pd
from random import randint

In [2]:
def genrate_random_sal(digit_count):
    rangestart=10**(digit_count-1)
    rangeend=(10**digit_count)-1
    return randint(rangestart,rangeend)

def create_csv():
    userid=[]
    agecounter=[]
    salcounter=[]
    higsal=0
    boughtcounter=[]
    for i in range(400):
        bought=0
        randsal=0
        
        age=randint(18,60)
        randsal=genrate_random_sal(randint(4,5))
        if higsal < randsal:
            higsal=randsal
        if age>40:
            bought=randint(0,1)
        if age>40 and higsal/2<randsal:
            bought=1
        userid.append(i+1)
        agecounter.append(age)
        salcounter.append(randsal)
        
        boughtcounter.append(bought)

    userdata={'id':userid,'age':agecounter,'salary':salcounter,'bought':boughtcounter}
    df=pd.DataFrame(userdata)
    df.to_csv("supermall.csv")
create_csv()

In [3]:
df=pd.read_csv("supermall.csv")

In [4]:
df.head()

   Unnamed: 0  id  age  salary  bought
0           0   1   23    4186       0
1           1   2   46   27871       1
2           2   3   32    8467       0
3           3   4   29    6740       0
4           4   5   24   23017       0

In [5]:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler

In [6]:
df=pd.read_csv("supermall.csv")

In [7]:
df.head()

   Unnamed: 0  id  age  salary  bought
0           0   1   23    4186       0
1           1   2   46   27871       1
2           2   3   32    8467       0
3           3   4   29    6740       0
4           4   5   24   23017       0

In [8]:
x=df[['age','salary']]
y=df[['bought']]

In [9]:
x=StandardScaler().fit_transform(x)

In [10]:
cls=GaussianNB().fit(x,y)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
def guass():
    user_age=float(input('enter age: '))
    salary=float(input("enter user salary: "))
    test_data=StandardScaler().fit_transform([[user_age,salary]])
    predict=cls.predict(test_data)
    if predict[0]==1:
        print("this user is most likely to buy the product")
    else:
        print("not buy the product")

In [14]:
guass()

enter age: 21
enter user salary: 40000
not buy the product